In [1]:
import env
import os
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

# Acquire and Summarize

# 1
- Acquire data from the cloud database.

In [2]:
def get_connection(
    db: str, user: str = env.user, host: str = env.host, password=env.password
) -> str:
    return f"mysql+pymysql://{user}:{password}@{host}/{db}"

In [3]:
def get_zillow_data(file_name="zillow.csv") -> pd.DataFrame:
    if os.path.isfile(file_name):
        return pd.read_csv(file_name)
    query = """select *
               from properties_2017
               left join predictions_2017
               using (id)
               left join airconditioningtype
               using (airconditioningtypeid)
               left join architecturalstyletype
               using (architecturalstyletypeid)
               left join buildingclasstype
               using (buildingclasstypeid)
               left join heatingorsystemtype
               using (heatingorsystemtypeid)
               left join propertylandusetype
               using (propertylandusetypeid)
               left join storytype
               using (storytypeid)
               left join typeconstructiontype
               using (typeconstructiontypeid)
               WHERE latitude IS NOT NULL
               and longitude IS NOT NULL;
            """
    connection = get_connection("zillow")
    df = pd.read_sql(query, connection)
    df.to_csv(file_name, index=False)
    return df

In [4]:
df = get_zillow_data()
df.head(3)

/var/folders/6d/_03p2v5j0rd067n1f34klb7w0000gn/T/ipykernel_6964/3331471128.py:3: DtypeWarning: Columns (61,63,64,67,68) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(file_name)

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,parcelid,basementsqft,...,parcelid.1,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,NaN,NaN,269.0,NaN,NaN,NaN,NaN,0,10754147,NaN,...,14297519.0,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Planned Unit Development,NaN,NaN
1,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1,10759547,NaN,...,17052889.0,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,NaN,NaN,47.0,NaN,5.0,NaN,NaN,2,10843547,NaN,...,14186244.0,0.005383,2017-01-01,NaN,NaN,Specialized buildings that do not fit in any o...,NaN,Store/Office (Mixed Use),NaN,NaN

In [ ]:
# note logerror: is the previous model prediction (shows how good or bad it was)

# 2
- Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [59]:
# still have duplicates 

# 2982285 - total rows

0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2982285 entries, 0 to 2982284
Data columns (total 69 columns):
 #   Column                        Dtype
---  ------                        -----
 0   typeconstructiontypeid        float64
 1   storytypeid                   float64
 2   propertylandusetypeid         float64
 3   heatingorsystemtypeid         float64
 4   buildingclasstypeid           float64
 5   architecturalstyletypeid      float64
 6   airconditioningtypeid         float64
 7   id                            int64
 8   parcelid                      int64
 9   basementsqft                  float64
 10  bathroomcnt                   float64
 11  bedroomcnt                    float64
 12  buildingqualitytypeid         float64
 13  calculatedbathnbr             float64
 14  decktypeid                    float64
 15  finishedfloor1squarefeet      float64
 16  calculatedfinishedsquarefeet  float64
 17  finishedsquarefeet12          float64
 18  finishedsquarefeet13          float64
 19  finishedsquarefeet15          float64
 20  finishedsquarefeet50          float64
 21  finishedsquarefeet6           float64
 22  fips                          float64
 23  fireplacecnt                  float64
 24  fullbathcnt                   float64
 25  garagecarcnt                  float64
 26  garagetotalsqft               float64
 27  hashottuborspa                float64
 28  latitude                      float64
 29  longitude                     float64
 30  lotsizesquarefeet             float64
 31  poolcnt                       float64
 32  poolsizesum                   float64
 33  pooltypeid10                  float64
 34  pooltypeid2                   float64
 35  pooltypeid7                   float64
 36  propertycountylandusecode     object
 37  propertyzoningdesc            object
 38  rawcensustractandblock        float64
 39  regionidcity                  float64
 40  regionidcounty                float64
 41  regionidneighborhood          float64
 42  regionidzip                   float64
 43  roomcnt                       float64
 44  threequarterbathnbr           float64
 45  unitcnt                       float64
 46  yardbuildingsqft17            float64
 47  yardbuildingsqft26            float64
 48  yearbuilt                     float64
 49  numberofstories               float64
 50  fireplaceflag                 float64
 51  structuretaxvaluedollarcnt    float64
 52  taxvaluedollarcnt             float64
 53  assessmentyear                float64
 54  landtaxvaluedollarcnt         float64
 55  taxamount                     float64
 56  taxdelinquencyflag            object
 57  taxdelinquencyyear            float64
 58  censustractandblock           float64
 59  parcelid.1                    float64
 60  logerror                      float64
 61  transactiondate               object
 62  airconditioningdesc           object
 63  architecturalstyledesc        object
 64  buildingclassdesc             object
 65  heatingorsystemdesc           object
 66  propertylandusedesc           object
 67  storydesc                     object
 68  typeconstructiondesc          object
dtypes: float64(56), int64(2), object(11)
memory usage: 1.5+ GB

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
typeconstructiontypeid,6746.0,5.999555e+00,3.840787e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,1.300000e+01
storytypeid,1623.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
propertylandusetypeid,2982285.0,2.600508e+02,1.593121e+01,3.100000e+01,2.610000e+02,2.610000e+02,2.610000e+02,2.790000e+02
heatingorsystemtypeid,1869164.0,4.083750e+00,3.286780e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
buildingclasstypeid,12731.0,3.734742e+00,5.003709e-01,1.000000e+00,3.000000e+00,4.000000e+00,4.000000e+00,5.000000e+00
architecturalstyletypeid,6061.0,7.202607e+00,2.436290e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.700000e+01
airconditioningtypeid,815362.0,1.945723e+00,3.160507e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
id,2982285.0,1.491142e+06,8.609117e+05,0.000000e+00,7.455710e+05,1.491142e+06,2.236713e+06,2.982284e+06
parcelid,2982285.0,1.332491e+07,7.897112e+06,1.071172e+07,1.164346e+07,1.254525e+07,1.409806e+07,1.696019e+08
basementsqft,1627.0,6.472207e+02,5.387871e+02,2.000000e+01,2.720000e+02,5.350000e+02,8.475000e+02,8.516000e+03
bathroomcnt,2982260.0,2.216196e+00,1.078250e+00,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,3.200000e+01
bedroomcnt,2982272.0,3.093362e+00,1.271569e+00,0.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,2.500000e+01
buildingqualitytypeid,1941395.0,6.280822e+00,1.729923e+00,1.000000e+00,5.000000e+00,6.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,2868061.0,2.303826e+00,1.003243e+00,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,3.200000e+01
decktypeid,17379.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,203758.0,1.379780e+03,6.344228e+02,1.000000e+00,1.010000e+03,1.281000e+03,1.615000e+03,3.130300e+04
calculatedfinishedsquarefeet,2940120.0,1.831455e+03,1.954198e+03,1.000000e+00,1.215000e+03,1.574000e+03,2.140000e+03,9.525760e+05
finishedsquarefeet12,2720786.0,1.764045e+03,1.031383e+03,1.000000e+00,1.198000e+03,1.542000e+03,2.075000e+03,4.270790e+05
finishedsquarefeet13,7671.0,1.178917e+03,3.570936e+02,1.200000e+02,9.600000e+02,1.296000e+03,1.440000e+03,2.688000e+03
finishedsquarefeet15,190185.0,2.754869e+03,5.999380e+03,1.120000e+02,1.696000e+03,2.173000e+03,2.975000e+03,8.202420e+05
finishedsquarefeet50,203758.0,1.392029e+03,6.823239e+02,3.000000e+00,1.012000e+03,1.284000e+03,1.619000e+03,4.190600e+04
finishedsquarefeet6,21482.0,2.427555e+03,7.786185e+03,1.170000e+02,1.072000e+03,2.008000e+03,3.411000e+03,9.525760e+05
fips,2982285.0,6.048053e+03,2.024082e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,313124.0,1.168959e+00,4.618549e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,9.000000e+00
fullbathcnt,2868061.0,2.248089e+00,9.929959e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,3.200000e+01
garagecarcnt,891008.0,1.826581e+00,6.089337e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.500000e+01
garagetotalsqft,891008.0,3.831562e+02,2.462194e+02,0.000000e+00,3.120000e+02,4.410000e+02,4.940000e+02,7.749000e+03
hashottuborspa,50062.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
latitude,2982285.0,3.400131e+07,2.435157e+05,3.332439e+07,3.382740e+07,3.400807e+07,3.416186e+07,3.481965e+07
longitude,2982285.0,-1.182017e+08,3.455918e+05,-1.194758e+08,-1.183929e+08,-1.181721e+08,-1.179489e+08,-1.175543e+08
lotsizesquarefeet,2712511.0,2.260376e+04,2.499836e+05,1.000000e+02,5.683000e+03,7.000000e+03,9.893000e+03,3.710005e+08
poolcnt,539632.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,27958.0,5.197154e+02,1.913259e+02,1.900000e+01,4.300000e+02,4.950000e+02,5.940000e+02,1.741000e+04
pooltypeid10,17006.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,33056.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,505895.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
rawcensustractandblock,2982285.0,6.048367e+07,2.008914e+05,6.037101e+07,6.037400e+07,6.037571e+07,6.059042e+07,6.111009e+07
regionidcity,2923089.0,3.498766e+04,5.070968e+04,3.491000e+03,1.244700e+04,2.521800e+04,4.545700e+04,3.965560e+05
regionidcounty,2982285.0,2.569085e+03,7.886840e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,1156741.0,1.935387e+05,1.657253e+05,6.952000e+03,4.673600e+04,1.189200e+05,2.748000e+05,7.641670e+05
regionidzip,2972503.0,9.655329e+04,3.680815e+03,9.598200e+04,9.618000e+04,9.637700e+04,9.697400e+04,3.996750e+05
roomcnt,2982248.0,1.474357e+00,2.839869e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.600000e+01
threequarterbathnbr,316357.0,1.010611e+00,1.206024e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
unitcnt,1981042.0,1.180303e+00,2.486949e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,9.970000e+02
yardbuildingsqft17,81588.0,3.215416e+02,2.368848e+02,1.000000e+01,1.900000e+02,2.700000e+02,3.900000e+02,7.983000e+03
yardbuildingsqft26,2646.0,2.783655e+02,3.697844e+02,1.000000e+01,9.600000e+01,1.680000e+02,3.200000e+02,6.141000e+03
yearbuilt,2937384.0,1.964438e+03,2.364428e+01,1.801000e+03,1.950000e+03,1.963000e+03,1.981000e+03,2.016000e+03
numberofstories,685676.0,1.400956e+00,5.390565e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,4.100000e+01
fireplaceflag,5163.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,2938753.0,1.781429e+05,4.600503e+05,1.000000e+00,7.766600e+04,1.270660e+05,2.040000e+05,2.553212e+08
taxvaluedollarcnt,2950951.0,4.435279e+05,8.163366e+05,1.000000e+00,1.882200e+05,3.211610e+05,5.140720e+05,3.196225e+08
assessmentyear,2982284.0,2.015998e+03,6.039949e-02,2.000000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,2925291.0,2.684558e+05,4.865097e+05,1.000000e+00,7.970000e+04,1.766190e+05,3.261000e+05,9.401108e+07
taxamount,2962465.0,5.408949e+03,9.675567e+03,2.400000e-01,2.468620e+03,4.007620e+03,6.230500e+03,3.823176e+06
taxdelinquencyyear,56517.0,1.389170e+01,2.562172e+00,0.000000e+00,1.400000e+01,1.400000e+01,1.500000e+01,9.900000e+01
censustractandblock,2910232.0,6.048434e+13,3.249133e+11,-1.000000e+00,6.037400e+13,6.037572e+13,6.059042e+13,4.830301e+14
parcelid.1,77614.0,1.300781e+07,3.518694e+06,1.071186e+07,1.153821e+07,1.253006e+07,1.421100e+07,1.676893e+08
logerror,77614.0,1.675218e-02,1.708879e-01,-4.655420e+00,-2.432860e-02,6.669808e-03,3.929424e-02,5.262999e+00

In [7]:
df.dtypes

typeconstructiontypeid    float64
storytypeid               float64
propertylandusetypeid     float64
heatingorsystemtypeid     float64
buildingclasstypeid       float64
                           ...
buildingclassdesc          object
heatingorsystemdesc        object
propertylandusedesc        object
storydesc                  object
typeconstructiondesc       object
Length: 69, dtype: object

In [8]:
df.shape

(2982285, 69)

In [9]:
df.typeconstructiondesc.value_counts()

typeconstructiondesc
Frame           6669
Concrete          59
Masonry           14
Metal              3
Manufactured       1
Name: count, dtype: int64

In [10]:
def summarize(df, k=1.5) -> None:
    '''
    Summarize will take in a pandas DataFrame
    and print summary statistics:
    
    info
    shape
    outliers
    description
    missing data stats
    
    return: None (prints to console)
    '''
    # print info on the df
    print('Shape of Data: ')
    print(df.shape)
    print('======================\n======================')
    print('Info: ')
    print(df.info())
    print('======================\n======================')
    print('Descriptions:')
    # print the description of the df, transpose, output markdown
    print(df.describe().T.to_markdown())
    print('======================\n======================')
    # lets do that for categorical info as well
    # we will use select_dtypes to look at just Objects
    print(df.select_dtypes('O').describe().T.to_markdown())
    print('======================\n======================')
    print('missing values:')
    print('by column:')

In [11]:
summarize(df)

Shape of Data:
(2982285, 69)
======================
======================
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2982285 entries, 0 to 2982284
Data columns (total 69 columns):
 #   Column                        Dtype
---  ------                        -----
 0   typeconstructiontypeid        float64
 1   storytypeid                   float64
 2   propertylandusetypeid         float64
 3   heatingorsystemtypeid         float64
 4   buildingclasstypeid           float64
 5   architecturalstyletypeid      float64
 6   airconditioningtypeid         float64
 7   id                            int64
 8   parcelid                      int64
 9   basementsqft                  float64
 10  bathroomcnt                   float64
 11  bedroomcnt                    float64
 12  buildingqualitytypeid         float64
 13  calculatedbathnbr             float64
 14  decktypeid                    float64
 15  finishedfloor1squarefeet      float64
 16  calculatedfinishedsquarefeet  float64
 17  finishedsquarefeet12          float64
 18  finishedsquarefeet13          float64
 19  finishedsquarefeet15          float64
 20  finishedsquarefeet50          float64
 21  finishedsquarefeet6           float64
 22  fips                          float64
 23  fireplacecnt                  float64
 24  fullbathcnt                   float64
 25  garagecarcnt                  float64
 26  garagetotalsqft               float64
 27  hashottuborspa                float64
 28  latitude                      float64
 29  longitude                     float64
 30  lotsizesquarefeet             float64
 31  poolcnt                       float64
 32  poolsizesum                   float64
 33  pooltypeid10                  float64
 34  pooltypeid2                   float64
 35  pooltypeid7                   float64
 36  propertycountylandusecode     object
 37  propertyzoningdesc            object
 38  rawcensustractandblock        float64
 39  regionidcity                  float64
 40  regionidcounty                float64
 41  regionidneighborhood          float64
 42  regionidzip                   float64
 43  roomcnt                       float64
 44  threequarterbathnbr           float64
 45  unitcnt                       float64
 46  yardbuildingsqft17            float64
 47  yardbuildingsqft26            float64
 48  yearbuilt                     float64
 49  numberofstories               float64
 50  fireplaceflag                 float64
 51  structuretaxvaluedollarcnt    float64
 52  taxvaluedollarcnt             float64
 53  assessmentyear                float64
 54  landtaxvaluedollarcnt         float64
 55  taxamount                     float64
 56  taxdelinquencyflag            object
 57  taxdelinquencyyear            float64
 58  censustractandblock           float64
 59  parcelid.1                    float64
 60  logerror                      float64
 61  transactiondate               object
 62  airconditioningdesc           object
 63  architecturalstyledesc        object
 64  buildingclassdesc             object
 65  heatingorsystemdesc           object
 66  propertylandusedesc           object
 67  storydesc                     object
 68  typeconstructiondesc          object
dtypes: float64(56), int64(2), object(11)
memory usage: 1.5+ GB
None
======================
======================
Descriptions:
|                              |            count |             mean |              std |             min |              25% |              50% |              75% |              max |
|:-----------------------------|-----------------:|-----------------:|-----------------:|----------------:|-----------------:|-----------------:|-----------------:|-----------------:|
| typeconstructiontypeid       |   6746           |      5.99956     |      0.384079    |     4           |      6           |      6           |      6           |     13           |
| storytypeid                  |   1623           |      7           |      0           |     7           |      7           |      7           |      7           |      7           |
| propertylandusetypeid        |      2.98228e+06 |    260.051       |     15.9312      |    31           |    261           |    261           |    261           |    279           |
| heatingorsystemtypeid        |      1.86916e+06 |      4.08375     |      3.28678     |     1           |      2           |      2           |      7           |     24           |
| buildingclasstypeid          |  12731           |      3.73474     |      0.500371    |     1           |      3           |      4           |      4           |      5           |
| architecturalstyletypeid     |   6061           |      7.20261     |      2.43629     |     2           |      7           |      7           |      7           |     27           |
| airconditioningtypeid        | 815362           |      1.94572     |      3.16051     |     1           |      1           |      1           |      1           |     13           |
| id                           |      2.98228e+06 |      1.49114e+06 | 860912           |     0           | 745571           |      1.49114e+06 |      2.23671e+06 |      2.98228e+06 |
| parcelid                     |      2.98228e+06 |      1.33249e+07 |      7.89711e+06 |     1.07117e+07 |      1.16435e+07 |      1.25453e+07 |      1.40981e+07 |      1.69602e+08 |
| basementsqft                 |   1627           |    647.221       |    538.787       |    20           |    272           |    535           |    847.5         |   8516           |
| bathroomcnt                  |      2.98226e+06 |      2.2162      |      1.07825     |     0           |      2           |      2           |      3           |     32           |
| bedroomcnt                   |      2.98227e+06 |      3.09336     |      1.27157     |     0           |      2           |      3           |      4           |     25           |
| buildingqualitytypeid        |      1.9414e+06  |      6.28082     |      1.72992     |     1           |      5           |      6           |      8           |     12           |
| calculatedbathnbr            |      2.86806e+06 |      2.30383     |      1.00324     |     1           |      2           |      2           |      3           |     32           |
| decktypeid                   |  17379           |     66           |      0           |    66           |     66           |     66           |     66           |     66           |
| finishedfloor1squarefeet     | 203758           |   1379.78        |    634.423       |     1           |   1010           |   1281           |   1615           |  31303           |
| calculatedfinishedsquarefeet |      2.94012e+06 |   1831.46        |   1954.2         |     1           |   1215           |   1574           |   2140           | 952576           |
| finishedsquarefeet12         |      2.72079e+06 |   1764.04        |   1031.38        |     1           |   1198           |   1542           |   2075           | 427079           |
| finishedsquarefeet13         |   7671           |   1178.92        |    357.094       |   120           |    960           |   1296           |   1440           |   2688           |
| finishedsquarefeet15         | 190185           |   2754.87        |   5999.38        |   112           |   1696           |   2173           |   2975           | 820242           |
| finishedsquarefeet50         | 203758           |   1392.03        |    682.324       |     3           |   1012           |   1284           |   1619           |  41906           |
| finishedsquarefeet6          |  21482           |   2427.56        |   7786.19        |   117           |   1072           |   2008           |   3411           | 952576           |
| fips                         |      2.98228e+06 |   6048.05        |     20.2408      |  6037           |   6037           |   6037           |   6059           |   6111           |
| fireplacecnt                 | 313124           |      1.16896     |      0.461855    |     1           |      1           |      1           |      1           |      9           |
| fullbathcnt                  |      2.86806e+06 |      2.24809     |      0.992996    |     1           |      2           |      2           |      3           |     32           |
| garagecarcnt                 | 891008           |      1.82658     |      0.608934    |     0           |      2           |      2           |      2           |     25           |
| garagetotalsqft              | 891008           |    383.156       |    246.219       |     0           |    312           |    441           |    494           |   7749           |
| hashottuborspa               |  50062           |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| latitude                     |      2.98228e+06 |      3.40013e+07 | 243516           |     3.33244e+07 |      3.38274e+07 |      3.40081e+07 |      3.41619e+07 |      3.48196e+07 |
| longitude                    |      2.98228e+06 |     -1.18202e+08 | 345592           |    -1.19476e+08 |     -1.18393e+08 |     -1.18172e+08 |     -1.17949e+08 |     -1.17554e+08 |
| lotsizesquarefeet            |      2.71251e+06 |  22603.8         | 249984           |   100           |   5683           |   7000           |   9893           |      3.71001e+08 |
| poolcnt                      | 539632           |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| poolsizesum                  |  27958           |    519.715       |    191.326       |    19           |    430           |    495           |    594           |  17410           |
| pooltypeid10                 |  17006           |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| pooltypeid2                  |  33056           |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| pooltypeid7                  | 505895           |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| rawcensustractandblock       |      2.98228e+06 |      6.04837e+07 | 200891           |     6.0371e+07  |      6.0374e+07  |      6.03757e+07 |      6.05904e+07 |      6.11101e+07 |
| regionidcity                 |      2.92309e+06 |  34987.7         |  50709.7         |  3491           |  12447           |  25218           |  45457           | 396556           |
| regionidcounty               |      2.98228e+06 |   2569.09        |    788.684       |  1286           |   1286           |   3101           |   3101           |   3101           |
| regionidneighborhood         |      1.15674e+06 | 193539           | 165725           |  6952           |  46736           | 118920           | 274800           | 764167           |
| regionidzip                  |      2.9725e+06  |  96553.3         |   3680.82        | 95982           |  96180           |  96377           |  96974           | 399675           |
| roomcnt                      |      2.98225e+06 |      1.47436     |      2.83987     |     0           |      0           |      0           |      0           |     96           |
| threequarterbathnbr          | 316357           |      1.01061     |      0.120602    |     1           |      1           |      1           |      1           |      7           |
| unitcnt                      |      1.98104e+06 |      1.1803      |      2.48695     |     1           |      1           |      1           |      1           |    997           |
| yardbuildingsqft17           |  81588           |    321.542       |    236.885       |    10           |    190           |    270           |    390           |   7983           |
| yardbuildingsqft26           |   2646           |    278.365       |    369.784       |    10           |     96           |    168           |    320           |   6141           |
| yearbuilt                    |      2.93738e+06 |   1964.44        |     23.6443      |  1801           |   1950           |   1963           |   1981           |   2016           |
| numberofstories              | 685676           |      1.40096     |      0.539056    |     1           |      1           |      1           |      2           |     41           |
| fireplaceflag                |   5163           |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| structuretaxvaluedollarcnt   |      2.93875e+06 | 178143           | 460050           |     1           |  77666           | 127066           | 204000           |      2.55321e+08 |
| taxvaluedollarcnt            |      2.95095e+06 | 443528           | 816337           |     1           | 188220           | 321161           | 514072           |      3.19622e+08 |
| assessmentyear               |      2.98228e+06 |   2016           |      0.0603995   |  2000           |   2016           |   2016           |   2016           |   2016           |
| landtaxvaluedollarcnt        |      2.92529e+06 | 268456           | 486510           |     1           |  79700           | 176619           | 326100           |      9.40111e+07 |
| taxamount                    |      2.96246e+06 |   5408.95        |   9675.57        |     0.24        |   2468.62        |   4007.62        |   6230.5         |      3.82318e+06 |
| taxdelinquencyyear           |  56517           |     13.8917      |      2.56217     |     0           |     14           |     14           |     15           |     99           |
| censustractandblock          |      2.91023e+06 |      6.04843e+13 |      3.24913e+11 |    -1           |      6.0374e+13  |      6.03757e+13 |      6.05904e+13 |      4.8303e+14  |
| parcelid.1                   |  77614           |      1.30078e+07 |      3.51869e+06 |     1.07119e+07 |      1.15382e+07 |      1.25301e+07 |      1.4211e+07  |      1.67689e+08 |
| logerror                     |  77614           |      0.0167522   |      0.170888    |    -4.65542     |     -0.0243286   |      0.00666981  |      0.0392942   |      5.263       |
======================
======================
|                           |            count |   unique | top                                            |             freq |
|:--------------------------|-----------------:|---------:|:-----------------------------------------------|-----------------:|
| propertycountylandusecode |      2.98222e+06 |      234 | 0100                                           |      1.15333e+06 |
| propertyzoningdesc        |      1.98247e+06 |     5651 | LAR1                                           | 275246           |
| taxdelinquencyflag        |  56515           |        1 | Y                                              |  56515           |
| transactiondate           |  77614           |      265 | 2017-06-30                                     |   1195           |
| airconditioningdesc       | 806567           |        6 | Central                                        | 744291           |
| architecturalstyledesc    |   6061           |        8 | Contemporary                                   |   5251           |
| buildingclassdesc         |  12731           |        5 | Buildings having wood or wood and steel frames |   9500           |
| heatingorsystemdesc       |      1.86782e+06 |       13 | Central                                        |      1.16861e+06 |
| propertylandusedesc       |      2.98228e+06 |       16 | Single Family Residential                      |      2.15286e+06 |
| storydesc                 |   1623           |        1 | Basement                                       |   1623           |
| typeconstructiondesc      |   6746           |        5 | Frame                                          |   6669           |
======================
======================
missing values:
by column:

# 3 
- Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. 
- Run the function and document takeaways from this on how you want to handle missing values.

In [12]:
df.isnull().sum()

typeconstructiontypeid    2975539
storytypeid               2980662
propertylandusetypeid           0
heatingorsystemtypeid     1113121
buildingclasstypeid       2969554
                           ...
buildingclassdesc         2969554
heatingorsystemdesc       1114463
propertylandusedesc             0
storydesc                 2980662
typeconstructiondesc      2975539
Length: 69, dtype: int64

In [13]:
df.isnull().mean()

typeconstructiontypeid    0.997738
storytypeid               0.999456
propertylandusetypeid     0.000000
heatingorsystemtypeid     0.373244
buildingclasstypeid       0.995731
                            ...
buildingclassdesc         0.995731
heatingorsystemdesc       0.373694
propertylandusedesc       0.000000
storydesc                 0.999456
typeconstructiondesc      0.997738
Length: 69, dtype: float64

In [14]:
null_df = pd.DataFrame(
    {"Num_rows_missing": df.isnull().sum(), "Percent_rows_missing": df.isnull().mean()}
)

null_df

                        Num_rows_missing  Percent_rows_missing
typeconstructiontypeid           2975539              0.997738
storytypeid                      2980662              0.999456
propertylandusetypeid                  0              0.000000
heatingorsystemtypeid            1113121              0.373244
buildingclasstypeid              2969554              0.995731
...                                  ...                   ...
buildingclassdesc                2969554              0.995731
heatingorsystemdesc              1114463              0.373694
propertylandusedesc                    0              0.000000
storydesc                        2980662              0.999456
typeconstructiondesc             2975539              0.997738

[69 rows x 2 columns]

In [34]:
def view_columns_null(df):
    df = pd.DataFrame(
        {
            "num_rows_missing_per_col": df.isnull().sum(axis=0),
            "percent_missing": df.isnull().mean(axis=0)
        }
    )
    return df

In [16]:
def view_rows_null(df):
    df = pd.DataFrame(
        {
            "num_col_missing_per_row": df.isnull().sum(axis=1),
            "percent_missing": df.isnull().mean(axis=1)
        }
    )
    return df

In [17]:
view_rows_null(df)

         num_col_missing_per_row  percent_missing
0                             47         0.681159
1                             46         0.666667
2                             37         0.536232
3                             36         0.521739
4                             36         0.521739
...                          ...              ...
2982280                       40         0.579710
2982281                       37         0.536232
2982282                       33         0.478261
2982283                       34         0.492754
2982284                       52         0.753623

[2982285 rows x 2 columns]

In [18]:
view_columns_null(df)

                        num_rows_missing_per_col  percent_missing
typeconstructiontypeid                   2975539         0.997738
storytypeid                              2980662         0.999456
propertylandusetypeid                          0         0.000000
heatingorsystemtypeid                    1113121         0.373244
buildingclasstypeid                      2969554         0.995731
...                                          ...              ...
buildingclassdesc                        2969554         0.995731
heatingorsystemdesc                      1114463         0.373694
propertylandusedesc                            0         0.000000
storydesc                                2980662         0.999456
typeconstructiondesc                     2975539         0.997738

[69 rows x 2 columns]

# Prepare

# 1
 - Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). 
 - There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer.

In [19]:
df.propertylandusedesc.value_counts()

propertylandusedesc
Single Family Residential                     2152863
Condominium                                    483789
Duplex (2 Units, Any Combination)              114415
Planned Unit Development                        61559
Mobile Home                                     59344
Quadruplex (4 Units, Any Combination)           40731
Triplex (3 Units, Any Combination)              39977
Commercial/Office/Residential Mixed Used         9487
Cluster Home                                     9421
Store/Office (Mixed Use)                         4379
Residential General                              2996
Cooperative                                      1808
Manufactured, Modular, Prefabricated Homes       1219
Townhouse                                         260
Residential Common Area                            36
Inferred Single Family Residential                  1
Name: count, dtype: int64

In [55]:
df = df[df["propertylandusedesc"] == "Single Family Residential"]

df.propertylandusedesc.nunique()

1

In [56]:
df

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,parcelid,basementsqft,...,parcelid.1,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
1,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1.0,10759547.0,NaN,...,17052889.0,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
15,NaN,NaN,261.0,NaN,NaN,NaN,NaN,15.0,11193347.0,NaN,...,17110996.0,0.008669,2017-01-02,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
16,NaN,NaN,261.0,NaN,NaN,NaN,NaN,16.0,11215747.0,NaN,...,14375300.0,-0.021896,2017-01-02,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
17,NaN,NaN,261.0,NaN,NaN,NaN,NaN,17.0,11229347.0,NaN,...,12045625.0,-0.017167,2017-01-02,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
20,NaN,NaN,261.0,2.0,NaN,NaN,1.0,20.0,11324547.0,NaN,...,12325145.0,0.042463,2017-01-02,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2982268,NaN,NaN,261.0,NaN,NaN,NaN,NaN,2982268.0,14356230.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2982270,NaN,NaN,261.0,NaN,NaN,NaN,NaN,2982270.0,14157725.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2982272,NaN,NaN,261.0,NaN,NaN,NaN,NaN,2982272.0,14356183.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2982275,NaN,NaN,261.0,NaN,NaN,NaN,NaN,2982275.0,14367624.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2982282,NaN,NaN,261.0,2.0,NaN,NaN,1.0,2982282.0,12385768.0,NaN,...,NaN,NaN,NaN,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN

# 2
- Create a function that will drop rows or columns based on the percent of values that are missing:

In [35]:
column_df = view_columns_null(df)

column_df

                        num_rows_missing_per_col  percent_missing
typeconstructiontypeid                   2975539         0.997738
storytypeid                              2980662         0.999456
propertylandusetypeid                          0         0.000000
heatingorsystemtypeid                    1113121         0.373244
buildingclasstypeid                      2969554         0.995731
...                                          ...              ...
buildingclassdesc                        2969554         0.995731
heatingorsystemdesc                      1114463         0.373694
propertylandusedesc                            0         0.000000
storydesc                                2980662         0.999456
typeconstructiondesc                     2975539         0.997738

[69 rows x 2 columns]

In [36]:
column_df = column_df[column_df["percent_missing"] <= 0.6]

column_df.index[:] # I want to keep

Index(['propertylandusetypeid', 'heatingorsystemtypeid', 'id', 'parcelid',
       'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid',
       'calculatedbathnbr', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'fips', 'fullbathcnt', 'latitude', 'longitude',
       'lotsizesquarefeet', 'propertycountylandusecode', 'propertyzoningdesc',
       'rawcensustractandblock', 'regionidcity', 'regionidcounty',
       'regionidzip', 'roomcnt', 'unitcnt', 'yearbuilt',
       'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'assessmentyear',
       'landtaxvaluedollarcnt', 'taxamount', 'censustractandblock',
       'heatingorsystemdesc', 'propertylandusedesc'],
      dtype='object')

In [40]:
column_df.transpose()

,propertylandusetypeid,heatingorsystemtypeid,id,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,...,unitcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,heatingorsystemdesc,propertylandusedesc
num_rows_missing_per_col,0.0,1.113121e+06,0.0,0.0,25.000000,13.000000,1.040890e+06,114224.000000,42165.000000,261499.000000,...,1.001243e+06,44901.000000,43532.000000,31334.000000,1.000000e+00,56994.000000,19820.000000,72053.00000,1.114463e+06,0.0
percent_missing,0.0,3.732443e-01,0.0,0.0,0.000008,0.000004,3.490243e-01,0.038301,0.014138,0.087684,...,3.357302e-01,0.015056,0.014597,0.010507,3.353134e-07,0.019111,0.006646,0.02416,3.736943e-01,0.0

In [44]:
column_df.transpose().columns

Index(['propertylandusetypeid', 'heatingorsystemtypeid', 'id', 'parcelid',
       'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid',
       'calculatedbathnbr', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'fips', 'fullbathcnt', 'latitude', 'longitude',
       'lotsizesquarefeet', 'propertycountylandusecode', 'propertyzoningdesc',
       'rawcensustractandblock', 'regionidcity', 'regionidcounty',
       'regionidzip', 'roomcnt', 'unitcnt', 'yearbuilt',
       'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'assessmentyear',
       'landtaxvaluedollarcnt', 'taxamount', 'censustractandblock',
       'heatingorsystemdesc', 'propertylandusedesc'],
      dtype='object')

In [37]:
df.columns

Index(['typeconstructiontypeid', 'storytypeid', 'propertylandusetypeid',
       'heatingorsystemtypeid', 'buildingclasstypeid',
       'architecturalstyletypeid', 'airconditioningtypeid', 'id', 'parcelid',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid',
       'calculatedbathnbr', 'decktypeid', 'finishedfloor1squarefeet',
       'calculatedfinishedsquarefeet', 'finishedsquarefeet12',
       'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50',
       'finishedsquarefeet6', 'fips', 'fireplacecnt', 'fullbathcnt',
       'garagecarcnt', 'garagetotalsqft', 'hashottuborspa', 'latitude',
       'longitude', 'lotsizesquarefeet', 'poolcnt', 'poolsizesum',
       'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertyzoningdesc',
       'rawcensustractandblock', 'regionidcity', 'regionidcounty',
       'regionidneighborhood', 'regionidzip', 'roomcnt', 'threequarterbathnbr',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock', 'parcelid.1', 'logerror', 'transactiondate',
       'airconditioningdesc', 'architecturalstyledesc', 'buildingclassdesc',
       'heatingorsystemdesc', 'propertylandusedesc', 'storydesc',
       'typeconstructiondesc'],
      dtype='object')

In [39]:
df.shape

(2982285, 69)

In [52]:
df = pd.concat([df, column_df.transpose()])

df

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,parcelid,basementsqft,...,parcelid.1,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,NaN,NaN,269.0,NaN,NaN,NaN,NaN,0.0,10754147.0,NaN,...,14297519.0,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Planned Unit Development,NaN,NaN
1,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1.0,10759547.0,NaN,...,17052889.0,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,NaN,NaN,47.0,NaN,5.0,NaN,NaN,2.0,10843547.0,NaN,...,14186244.0,0.005383,2017-01-01,NaN,NaN,Specialized buildings that do not fit in any o...,NaN,Store/Office (Mixed Use),NaN,NaN
3,NaN,NaN,47.0,NaN,3.0,NaN,NaN,3.0,10859147.0,NaN,...,12177905.0,-0.103410,2017-01-01,NaN,NaN,Buildings having exterior walls built of a non...,NaN,Store/Office (Mixed Use),NaN,NaN
4,NaN,NaN,31.0,NaN,4.0,NaN,NaN,4.0,10879947.0,NaN,...,10887214.0,0.006940,2017-01-01,NaN,NaN,Buildings having wood or wood and steel frames,NaN,Commercial/Office/Residential Mixed Used,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2982292,NaN,NaN,0.0,3.732443e-01,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.373694,0.0,NaN,NaN
2982293,NaN,NaN,0.0,1.113121e+06,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1114463.0,0.0,NaN,NaN
2982294,NaN,NaN,0.0,3.732443e-01,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.373694,0.0,NaN,NaN
num_rows_missing_per_col,NaN,NaN,0.0,1.113121e+06,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1114463.0,0.0,NaN,NaN
percent_missing,NaN,NaN,0.0,3.732443e-01,NaN,NaN,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.373694,0.0,NaN,NaN

In [51]:
df_gpby = df.groupby(list(df.columns))

In [26]:
def handel_nulls(df):
    df = df[df.isnull().mean(axis=0) <= 0.6]
    return df

In [27]:
# df = df.isnull().mean(axis=0) <= 0.6
# df

In [28]:
# handel_nulls(df)

# ========================================================================================================

# Mall Customers

# 1
- Acquire data from the customers table in the mall_customers database.

In [29]:
def get_mall_data(file_name="mall.csv") -> pd.DataFrame:
    if os.path.isfile(file_name):
        return pd.read_csv(file_name)
    query = """select * from customers
            """
    connection = get_connection("mall_customers")
    df = pd.read_sql(query, connection)
    df.to_csv(file_name, index=False)
    return df

In [30]:
mall_df = get_mall_data()

mall_df.head()

   customer_id  gender  age  annual_income  spending_score
0            1    Male   19             15              39
1            2    Male   21             15              81
2            3  Female   20             16               6
3            4  Female   23             16              77
4            5  Female   31             17              40

# 2

In [53]:
summarize(mall_df)

Shape of Data:
(200, 5)
======================
======================
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     200 non-null    int64
 1   gender          200 non-null    object
 2   age             200 non-null    int64
 3   annual_income   200 non-null    int64
 4   spending_score  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None
======================
======================
Descriptions:
|                |   count |   mean |     std |   min |   25% |   50% |    75% |   max |
|:---------------|--------:|-------:|--------:|------:|------:|------:|-------:|------:|
| customer_id    |     200 | 100.5  | 57.8792 |     1 | 50.75 | 100.5 | 150.25 |   200 |
| age            |     200 |  38.85 | 13.969  |    18 | 28.75 |  36   |  49    |    70 |
| annual_income  |     200 |  60.56 | 26.2647 |    15 | 41.5  |  61.5 |  78    |   137 |
| spending_score |     200 |  50.2  | 25.8235 |     1 | 34.75 |  50   |  73    |    99 |
======================
======================
|        |   count |   unique | top    |   freq |
|:-------|--------:|---------:|:-------|-------:|
| gender |     200 |        2 | Female |    112 |
======================
======================
missing values:
by column:

In [60]:
view_columns_null(mall_df)

                num_rows_missing_per_col  percent_missing
customer_id                            0              0.0
gender                                 0              0.0
age                                    0              0.0
annual_income                          0              0.0
spending_score                         0              0.0

# 3 
- Detect outliers using IQR.

In [ ]:
def get_upper_outliers(s, k):
    '''
    Given a series and a cutoff value, k, returns the upper outliers for the
    series.

    The values returned will be either 0 (if the point is not an outlier), or a
    number that indicates how far away from the upper bound the observation is.
    '''
    q1, q3 = s.quantile([.25, .75])
    iqr = q3 - q1
    upper_bound = q3 + k * iqr
    return s.apply(lambda x: max([x - upper_bound, 0]))

def add_upper_outlier_columns(df, k):
    '''
    Add a column with the suffix _outliers for all the numeric columns
    in the given dataframe.
    '''
    # outlier_cols = {col + '_outliers': get_upper_outliers(df[col], k)
    #                 for col in df.select_dtypes('number')}
    # return df.assign(**outlier_cols)

    for col in df.select_dtypes('number'):
        df[col + '_outliers'] = get_upper_outliers(df[col], k)

    return df

add_upper_outlier_columns(df, k=1.5)

df.head()

# 3
- Encode categorical columns using a one hot encoder (pd.get_dummies).

In [62]:
mall_df.head(3)

   customer_id  gender  age  annual_income  spending_score
0            1    Male   19             15              39
1            2    Male   21             15              81
2            3  Female   20             16               6

# 4
- Encode categorical columns using a one hot encoder (pd.get_dummies).

In [64]:
mall_df['gender'] = mall_df['gender'].map({'Female': 0, 'Male': 1})

mall_df.head()

   customer_id  gender  age  annual_income  spending_score
0            1       1   19             15              39
1            2       1   21             15              81
2            3       0   20             16               6
3            4       0   23             16              77
4            5       0   31             17              40

# 5 
- Split data into train, validate, and test.

In [68]:
from sklearn.model_selection import train_test_split

def split_data(df: pd.DataFrame) -> pd.DataFrame: # add to wrangle 
    train_validate, test = train_test_split(df, test_size=.2, random_state=123)
    train, validate = train_test_split(train_validate,
                                       test_size=.3,
                                       random_state=123)
    return train, validate, test

train, validate, test = split_data(mall_df)

print(f' train -> {train.shape}')
print(f' validate -> {validate.shape}')
print(f' test -> {test.shape}')

 train -> (112, 5)
 validate -> (48, 5)
 test -> (40, 5)

# 6
- Handles missing values

In [69]:
view_columns_null(mall_df)

                num_rows_missing_per_col  percent_missing
customer_id                            0              0.0
gender                                 0              0.0
age                                    0              0.0
annual_income                          0              0.0
spending_score                         0              0.0

# 7 
- Scaling

In [76]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, QuantileTransformer 

mms = MinMaxScaler() # creeating the scaler 

def scale_train_data(train, 
               validate, 
               test, 
               cols_to_scale,
               scale,
               return_scaler=False):
    '''
    Scales the 3 data splits. 
    Takes in train, validate, and test data splits and returns their scaled counterparts.
    If return_scalar is True, the scaler object will be returned as well
    '''
    # make copies of our original data so we dont gronk up anything
    train_scaled = train.copy()
    validate_scaled = validate.copy()
    test_scaled = test.copy()
    #     make the thing
    scaler = scale
    #     fit the thing
    scaler.fit(train[cols_to_scale])
    # applying the scaler:
    train_scaled[cols_to_scale] = pd.DataFrame(scaler.transform(train[cols_to_scale]),
                                                  columns=train[cols_to_scale].columns.values).set_index([train.index.values])
                                                  
    validate_scaled[cols_to_scale] = pd.DataFrame(scaler.transform(validate[cols_to_scale]),
                                                  columns=validate[cols_to_scale].columns.values).set_index([validate.index.values])
    
    test_scaled[cols_to_scale] = pd.DataFrame(scaler.transform(test[cols_to_scale]),
                                                 columns=test[cols_to_scale].columns.values).set_index([test.index.values])
                                                 
    if return_scaler:
        return scaler, train_scaled, validate_scaled, test_scaled
    else:
        return train_scaled, validate_scaled, test_scaled


cols_to_scale = mall_df['customer_id', 'age', 'annual_income']

scale_train_data(train, validate, test, cols_to_scale, scale= mms, return_scaler=False)

KeyError: ('customer_id', 'age', 'annual_income')

In [72]:
mall_df.head()

   customer_id  gender  age  annual_income  spending_score
0            1       1   19             15              39
1            2       1   21             15              81
2            3       0   20             16               6
3            4       0   23             16              77
4            5       0   31             17              40